/*------------------------------------------------------------------------------
| Home Page
------------------------------------------------------------------------------*/
.home-page-new-document-left
{
	display: none;
	visibility: hidden;
}
.home-page-new-document-middle
{
	background-image: url('images/image-new-middle.jpg');
	background-repeat: no-repeat;
	width: 176px;
	text-align: center;
	vertical-align: top;
	padding: 120px 0px 42px 0px;
}
.home-page-new-document-middle span
{
	color: #000055;
	cursor:default;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
}
.home-page-new-document-right
{
	display: none;
	visibility: hidden;
}
.home-page-new-document-status
{
	display: none;
	visibility: hidden;
}

.home-page-manage-documents-left
{
	display: none;
	visibility: hidden;
}
.home-page-manage-documents-middle
{
	background-image: url('images/image-manage-middle.jpg');
	background-repeat: no-repeat;
	width: 176px;
	text-align: center;
	vertical-align: top;
	padding: 120px 0px 42px 0px;
}
.home-page-manage-documents-middle span
{
	color: #000055;
	cursor:default;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
}
.home-page-manage-documents-right
{
	display: none;
	visibility: hidden;
}
.home-page-manage-documents-status
{
	display: none;
	visibility: hidden;
}

.home-page-return-session-left
{
	display: none;
	visibility: hidden;
}
.home-page-return-session-middle
{
	background-image: url('images/image-return-middle.jpg');
	background-repeat: no-repeat;
	width: 176px;
	text-align: center;
	vertical-align: top;
	padding: 120px 0px 28px 0px;
}
.home-page-return-session-middle span
{
	color: #000055;
	cursor:default;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
}
.home-page-return-session-right
{
	display: none;
	visibility: hidden;
}
.home-page-return-session-status
{
	display: none;
	visibility: hidden;
}
/*------------------------------------------------------------------------------
| Address Form
------------------------------------------------------------------------------*/
.address-form-panel
{
	width: 100%;
}
.address-form-label
{
	padding-top: 6px;
	padding-bottom: 10px;
	vertical-align:text-top;
	width: 300px;
}
.address-form-status
{
	padding: 4px;
}
.address-form-street
{
	padding-bottom: 2px;
}
.address-form-street textarea
{
	height: 2.5em;
	width: 300px;
}
.address-form-address-list
{
	padding-bottom: 2px;
}
.address-form-suburb input
{
	width: 200px;
}
.address-form-state select
{
	width: 100px;
}
.address-form-post-code input
{
	width: 94px;
}
.address-form-country input
{
	width: 200px;
}
/*------------------------------------------------------------------------------
| Context Qualifier Collection
------------------------------------------------------------------------------*/
.ajax__tab_panel
{
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 8pt;
	padding: 0px;
}
.accordion-header
{
	background-color: #FFFFFF;
	border: solid 1px #EDE7EB;
	padding: 4px;
	margin-top: 3px;
}
.accordion-content
{
	border-bottom: solid 1px #EDE7EB;
	border-left: solid 1px #EDE7EB;
	border-right: solid 1px #EDE7EB;
	background-color:#ffffff;
	padding: 8px;
}
.add-remove-panel
{
	background-color: #E7E2D7;
	border: solid 1px #D8D1BF;
	padding: 2px 4px 0px 2px;
	margin-top: 6px;
	text-align: left;
	height:28px;
}
.accordion-header-frame
{
	width: 100%;
}
.accordion-header-text
{
	padding-left: 6px;
}
.accordion-header-image
{
	padding-right: 6px;
	text-align: right;
	width: 20px;
}
/*------------------------------------------------------------------------------
| Status Indicator
------------------------------------------------------------------------------*/
.status-indicator-none
{
	visibility: hidden;
	display: none;
}
.status-indicator-information
{
	color: Blue;
}
.status-indicator-warning
{
	color: Orange;
}
.status-indicator-error
{
	color: Red;
}
/*------------------------------------------------------------------------------
| Status Provider
------------------------------------------------------------------------------*/
.status-provider-none
{
	visibility: hidden;
	display: none;
}
.status-provider-information
{
	background-color: #C7C7FF;
	border: solid 1px Blue;
	color: Black;
	padding: 6px;
	margin: 5px 0 5px 0;
}
.status-provider-warning
{
	background-color: #C7FFC7;
	border: solid 1px Green;
	color: Black;
	padding: 6px;
	margin: 5px 0 5px 0;
}
.status-provider-error
{
	background-color: #FFC7C7;
	border: solid 1px Red;
	color: Black;
	padding: 6px;
	margin: 5px 0 5px 0;
}
.status-provider-indication-none
{
}
.status-provider-indication-information
{
}
.status-provider-indication-warning
{
}
.status-provider-indication-error
{
}
/*------------------------------------------------------------------------------
| GridView Control
------------------------------------------------------------------------------*/
.standard-font
{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 8.5pt;
}
.session-last-modified-header
{
	width: 150px;
}
.session-title-header
{
	width: 250px;
}
.session-command-button
{
	width: 80px;
}

/*------------------------------------------------------------------------------
| TextBoxWatermarkExtender Control
------------------------------------------------------------------------------*/
.watermarked
{
	font-size: 7pt;
	color: gray;
}

.will-date-warning
{
	font-size: 7pt;
	color: #550000;
	display: block;
	padding-left: 12px;
}

/*------------------------------------------------------------------------------
| ImageButton Control
------------------------------------------------------------------------------*/
.image-button
{
	margin: 0px 2px 0px 2px;
}
.image-button table
{
	display:inline;
}
.image-button-left
{
	background-image: url('images/image-button-left.gif');
	background-position: top left;
	background-repeat: no-repeat;
	cursor:default;
	height: 26px;
	width: 6px;
}
.image-button-middle
{
	background-image: url('images/image-button-middle.gif');
	background-repeat: repeat-x;
	height: 26px;
	text-align: center;
}
.image-button-middle
{
}
.image-button-right
{
	background-image: url('images/image-button-right.gif');
	background-position: top right;
	background-repeat: no-repeat;
	cursor:default;
	height: 26px;
	width: 5px;
}
.image-button-status
{
	background-position: top left;
	background-repeat: no-repeat;
	position:relative;
	top: -4px;
	padding: 0px 0px 18px 16px;
	width:18px;
	height:18px;
}
.image-button-text
{
	color: #000000;
	cursor:default;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	padding: 0px 6px 0px 6px;
}
/*------------------------------------------------------------------------------
| NavigationSelector Control
------------------------------------------------------------------------------*/
.navigation-selector
{
}
.navigation-selector-header
{
	background-image: url('images/image-selector-middle.gif');
	background-position: top left;
	background-repeat: no-repeat;
	color: #696969;
	cursor:default;
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-align: left;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 34px;
	height: 19px;
	width: 222px;
}
.navigation-selector-header-hover
{
	background-image: url('images/hover-selector-middle.gif');
	background-position: top left;
	background-repeat: no-repeat;
	color: #696969;
	cursor:default;
	display: block;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-align: left;
	text-decoration: none;
	padding-top: 6px;
	padding-left: 34px;
	height: 19px;
	width: 222px;
}
.navigation-selector-panel
{
	display: none;
	visibility: hidden;
	width: 256px;
}
.navigation-selector-node table
{
	width: 256px;
}
.navigation-selector-node-left
{
	background-image: url('images/image-selector-node-left.gif');
	background-position: top left;
	background-repeat: no-repeat;
	cursor:default;
	height: 39px;
	width: 8px;
}
.navigation-selector-node-middle
{
	background-image: url('images/image-selector-node-middle.gif');
	background-repeat: repeat-x;
	height: 39px;
	text-align: left;
	vertical-align: middle;
}
.navigation-selector-node-right
{
	background-image: url('images/image-selector-node-right.gif');
	background-position: top right;
	background-repeat: no-repeat;
	cursor:default;
	height: 39px;
	width: 8px;
}
.navigation-selector-node-status
{
	background-image: url('images/image-selector-node-enabled.gif');
	background-position: top left;
	background-repeat: no-repeat;
	position:relative;
	top: -6px;
	padding: 0px 0px 31px 25px;
	height: 31px;
	width: 25px;
}
.navigation-selector-node-text
{
	color: #696969;
	cursor:default;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
}
